#vertical_slider_circle_container{
    overflow-y: unset;
    width: 70rem;
}


#first_card_first_text{
    position: absolute;
}

#second_card_parent{
    position:absolute;
}

#third_card_first_text{
    position:absolute;

}

.last_slide_sec{
    position:absolute;
}