#vert2_slide{
  button{
    // display: none !important;
  }
}
#innovate_slide{
  .hDienL ,.gOxcWJ{
    display: none;
  }
  .iXOKgB{
    display: none;
  }
}
#Strength{
  .rec-carousel-item-0{
    display: flex;
    justify-content: center !important;
    align-items: center;
    text-align: center;
    
  }
}

.cursor_slide2{
  
}



// {/* innovate_slide hDienL */}