#FirstSlide {
  .Audacious_text {
    animation-duration: 1s;
  }

  .line {
    animation-delay: 2.7s;
  }

  .Annual_text {
    animation-delay: 2s;
  }

  .Time_text {
    animation-delay: 3s;
  }
}

#second_slide {
  .second_slide_text {
    animation-delay: 3s;
    // font-family: 'BebasNeue';
    // font-style: normal;
    // font-size: 4.5rem;
    // line-height: 5rem;
  }
}


#vert2_slide {
  .iXOKgB {
    display: none !important;
  }

  button {
    border: none;
    background-color: transparent;
    position: relative;
  }

}

#innovate_slide {

  // .hDienL ,.gOxcWJ{
  //   display: none;
  // }
  button {
    border: none;
    background-color: transparent;
    position: relative;
  }
  .rec-carousel-item-2 {
    position: relative;
    top: 5%;
  }

  .rec-carousel-item-4 {
    position: relative;
    top: 10%;
  }

  .rec-carousel{
    position: relative;
  }
  .elastic-carousel__arrow{
    position: absolute;
    bottom: 2%;
    z-index: 9999;

  }
  .elastic-carousel__1stslidearrow{
    position: absolute;
    right: 50%;
    bottom: 10%;
  }
  .elastic-carousel__arrow.rec-left{
    right: 3.5rem;
  }
  .elastic-carousel__arrow.rec-right{
    right: 1rem;
    
  }
  .left_arrow_image{
    width: 2rem;
  } 
  .rigth_arrow_image{
    width: 2rem !important;
  }
  .gototext{
    position: absolute;
    bottom: 2%;
    left: 1%;
    color: #000000 !important;
    text-decoration: underline;
    text-decoration-color:#000000 !important;
    cursor: pointer;
    // text-decoration-thickness: 1px ;
    
    
  }
  .pointer_class{
    cursor: pointer;
  }

  .iXOKgB {
    display: none;
  }

  @media (max-width: 600px) {
    .innovative_slide2_para_text {
      font-size: 1rem;
      margin-left: 2%;
    }

    .elastic-carousel__1stslidearrow{
      right: 45%;
    }
    // br {
    //   display: none;
    // }
  }


}
#Strength ,#TeamCapabilities ,#support{
  .rec-carousel{
    position: relative;
  }
  .elastic-carousel__arrow{
    position: absolute;
    bottom: 2%;
    z-index: 9999;

  }
  .elastic-carousel__1stslidearrow{
    position: absolute;
    right: 50%;
    bottom: 10%;
  }
  .elastic-carousel__arrow.rec-left{
    right: 3.5rem;
  }
  .elastic-carousel__arrow.rec-right{
    right: 1rem;
    
  }
  .left_arrow_image{
    width: 2rem;
  } 
  .rigth_arrow_image{
    width: 2rem !important;
  }
  .gototext{
    position: absolute;
    bottom: 2%;
    left: 1%;
    color: #000000;
    text-decoration: underline;
    text-decoration-line: underline;
    cursor: pointer;
    // text-decoration-thickness: 1px ;
    
    
  }
}
#Strength,
#TeamCapabilities,
#support {
  .rec-carousel-item-0 {
    display: flex;
    justify-content: center ;
    align-items: center;
    // position: absolute;
    // top: 2rem;
  }

  .iXOKgB {
    display: none;
  }

  button {
    border: none;
    background-color: transparent;
    position: relative;
  }
}

#Strength {
  @media (max-width: 600px) {
    .swati_image {
      height: 40vh;
      top: 10%;
      margin-top: 15%;
      width: auto;
      
      // right: 55%;
    }
    .slide_1_strength_text{
      font-size: 1rem;
    }
    .stories{
      top: 15% !important;
    }
    br{
      display: none;
    }
  }


}

#carrerprep {
  @media (max-width: 600px) {
    br {
      display: none;
    }
  }

}

#TeamCapabilities {
  @media (max-width: 600px) {
    br {
      display: none;
    }
  }
}

#Second_slide {
  @media (max-width: 600px) {
    br {
      display: none;
    }

    .second_slide_text {
      font-size: 2rem;
      line-height: 3rem;
    }
  }

}

#thirdSlide {
  @media (max-width: 600px) {
    br {
      display: none;
    }

    .card_1 {
      height: 8rem !important;
    }

    p {
      margin-bottom: 0.5rem;
    }
  }
}

#fourth_card_head {
  @media (max-width: 600px) {
    br {
      display: none;
    }

    .vert_cards_text {
      font-size: 1.5rem !important;
    }

    p {
      margin-bottom: 0.5rem;
    }

    #vertical_slider_circle_container {
      width: none !important;
    }
  }
}

#vert2_slide {
  @media (max-width: 600px) {
    br {
      display: none;
    }

    .verticalslide1Head-text-1 {
      font-size: 1.3rem;
      margin-bottom: 5rem;
    }

    .residenseoursystem {
      font-size: 1.5rem;
      line-height: 2rem;
    }

    .verticalslide1Head_1 {
      right: 0;
      bottom: 0;
    }

    .scaleknoledge {
      font-size: 1.5rem;
    }

    .scaleknoledge {
      right: 0;
    }

    .animatedlisticon {
      width: 3rem;
      height: 3rem;
    }

    .vertical2-slide {
      align-items: baseline;
    }

    .list li {
      right: 0;
    }

    .uppercontent-head {
      font-size: 2rem;
    }

    .upper-content-3rdslide {
      position: static;
    }

    .uppercontent-text {
      font-size: 1rem;
    }

    .small-image-vertical2 {
      width: 8rem;
      height: 8rem;
    }

    .card_3vert2_text {
      font-size: 1rem !important;
    }

    .animatedlisttext {
      font-size: 1rem;
    }

    .second_main_heading {
      font-size: 1.5rem;
      margin-left: 13%
    }
    .second_headingPara{
      font-size: 1rem;
      padding-left: 15%;
      padding-right: 10%;
    }
  }
}

.INNOVATE_SLIDE1_para_text_id{
  @media  (max-width: 600px){
    br{
      display: none;
    }
  }
}
#support {
  .rec-carousel {
    height: 100vh !important;
    // top: 25%;
  }
  
    .rec-carousel-item-0 {
      display: flex;
      position:initial;
      // top: 85%;
    }
  .rec-carousel-item-0 {
    display: flex;
    justify-content: center !important;
    align-items: center;
    text-align: center;
  }
}

.cursor_slide2 {}



// First Slide Animation Handling

.FirstSlide_text {
  // position: relative;
  // bottom: 7% !important;
  // right: 25%;
  .Audacious_text {
    height: 5rem;
  }

  .animate__backInDown {
    animation-delay: 2s;
  }

  .Time_text {}
}

.card {
  background-color: transparent;
  height: 100% !important;
  display: flex;
  align-items: center;
  justify-content: center;
}

.pulse {
  .animate__animated {
    animation-delay: 3s;
  }
}

.section_4 {
  button {
    border: 0;
    background-color: transparent;
  }

  .hdvBkW {
    // height: 55rem;
  }

  // overflow-y:auto ;
  // overflow-x: clip;
  // height: 15rem;

}

// #TeamCapabilities{
//   .arrow_right{
//     position: relative;
//     right: 2500%;
//     top: 35%;
//     width: 1.8rem;
//   }
//   .arrow_right_1{
//     position: relative;
//     right: 2500%;
//     top: 45%;
//     width: 1.8rem;
//   }
//   .arrow_left_1{
//     position: relative;
//     left: 42rem;
//     top: 45%;
//     width: 1.8rem;
//   }
// }

#vert2_slide {
  .rec-carousel-item-2 {
    position: relative;
    top: 5%;
  }

  .rec-carousel-item-4 {
    position: relative;
    // top: 10%;
  }

  .rec-carousel{
    position: relative;
  }
  .elastic-carousel__arrow{
    position: absolute;
    bottom: 2%;
    z-index: 9999;

  }
  .elastic-carousel__1stslidearrow{
    position: absolute;
    right: 50%;
    bottom: 5%;
  }
  .elastic-carousel__arrow.rec-left{
    right: 3.5rem;
  }
  .elastic-carousel__arrow.rec-right{
    right: 1rem;
    
  }
  .left_arrow_image{
    width: 2rem;
  } 
  .rigth_arrow_image{
    width: 2rem !important;
  }
  .gototext{
    position: absolute;
    bottom: 2%;
    left: 1%;
    color: #000000;
    text-decoration: underline;
    text-decoration-color:#000000;
    cursor: pointer;
    // text-decoration-thickness: 1px ;
    
    
  }
  .pointer_class{
    cursor: pointer;
  }
  @media  (max-width: 600px){
    ul{
      margin-bottom: 3rem;
    }
    .rec-carousel-item-2{
      top: 0;
    }
  }



}

#support {
  height: 100vh !important;
}



// {/* innovate_slide hDienL */}


.elastic-carousel__arrow {
  display: flex;
  align-items: end;
}
#socialchange ,#youth ,#impact{
  @media (min-width: 600px) and (max-width: 1000px) {
    br{
      display: none;
    }
  }
  @media  (max-width: 600px) {
    br{
      display: none;
    }
  }
}