
@media  (max-width: 600px){
    .our_allum{
        position: static;
    }
    .uppercontent-head{
        font-size: 1.5rem;
    }
    .uppercontent-text{
        font-size: 1rem;
    }
    .rigth_arrow_image, .left_arrow_image{
        width: 2rem;
    }
    .elastic-carousel__arrow.rec-left{
        right: 3.5rem !important;
      }
      .elastic-carousel__arrow.rec-right{
        right: 1rem !important;
      }
      .slide_2_strength_heading{
        font-size: 1.5rem;
        line-height: 2rem;
      }
      .slide_2_strength_text{
        font-size: 1rem;
      }
      .list li:nth-child(3){
        margin-top: 10% !important;
      }
      .list li:nth-child(2){
        margin-top: 10% !important;
      }
      .list li:nth-child(1){
        margin-top: 15% !important;
      }
      .grayed_bubble{
        height: 5rem !important;
      }
      
      .arrow-svg{
        display: none;
      }
      .team_slide2_heading_text{
        font-size: 1rem;
      }
      .circle_container{
        margin-top: 0;
      }
      .main_heading{
        font-size: 1.5rem !important;
        line-height: 2rem !important;
      }
      .headingPara{
        font-size: 1rem !important;
      }
      .circle_container{
        margin-top: 0 !important;
      }
      .grayed_bubble{
        font-size: 0.8rem !important;
        line-height: 1rem;
        height: 4rem !important;
        margin-top: 1rem;
        width: 20rem !important;
        /* margin-left: 15%; */
      }
      .orange_bubble{
        margin-top: 6rem !important;
        font-size: 0.8rem !important;
        line-height: 1rem !important;
        height: 3.5rem !important;
      }
      .ml_4_option{
        margin-left: 2rem;
      }
      .second_grayed_bubble1{
        
          width: 10rem;
          background-color: #F2F2F2E5;
          height: 10rem;
          border-radius: 50%;
          font-size: 0.8rem;
          line-height: 1.4rem;
          font-weight: 400;
          font-family: Lato-Ragular;
          padding-left: 2%;
         margin-bottom: 2rem;
      }
      .green_box{
        height: 20vh;
        background-color: #31B89D;
        width: 30rem;
      }
      /* class="marginstate animatedlisttext  mt-5  d-flex Lato" */
}